.classnav {
    position:fixed;
    width:18%;
    float:left;
    border: 0px;
    margin-top : 0px;
    overflow:auto;
    height:80%;
    font-size:12px;
}

.classnav ul li {
  margin-top:0px;
}

.classnav ul li a {
    color : #3887BE;
}

.classnav ul li a.inherit {
    color : #4D4E53;
}

.scroll-styled::-webkit-scrollbar {
  width:8px;
  height:8px;
  border-left:0;
  background:rgba(0,0,0,0.1);
  }

.scroll-styled::-webkit-scrollbar:hover {
  background:rgba(0,0,0,0.15);
  }

.scroll-styled::-webkit-scrollbar-track {
  background:none;
  }

.scroll-styled::-webkit-scrollbar-thumb {
  background:rgba(0,0,0,0.1);
  border-radius:0;
  }

hr {
  margin-bottom: 20px;
}